---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../layouts/BlogPost.astro';
const allPosts = await Astro.glob('../posts/*.md')

export async function getStaticPaths() {
  return [
    { params: { tag: "astro" } },
    { params: { tag: "successes" } },
    { params: { tag: "community" } },
    { params: { tag: "blogging" } },
    { params: { tag: "setbacks" } },
    { params: { tag: "learning in public" } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = allPosts.filter((post) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {allPosts.map((post) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
  </ul>
</BaseLayout>