---
const { pageTitle } = Astro.props;
import Hamburger from '../components/hamburger.astro';
import Navigation from '../components/navigation.astro';
import Themeicon from '../components/themeicon.astro';
import ThemeIcon from '../components/themeicon.astro';
---

<header class="header">
  <div class="top-bar">
    <Hamburger class="left" />
    <Themeicon class="right"/>
  </div>
  <div class="title-nav" >
    <h1 class="page-title" >{pageTitle}</h1>
    <Navigation />
  </div>
</header>