---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      
      padding: 0.5rem 1rem;
      color: white;
      background-color: #ff7a5c;
      text-decoration: none;
      border: 2px solid black;
      font-weight: bold;
      border-radius: 0.5rem;
      box-shadow: 4px 6px 0px black;
    }
  </style>